@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:wght@100&display=swap');

* {
  background-color: #0F1624;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.introSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.aboutMeSection {
  margin: 5%;
}

.btn {
  background: #242F41;
  margin: 2px;
}

.projectText {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
p {
  color: #8FA39E;
  font-weight: 900;
}

#name {
  color: #8FA39E;
  font-size: 4rem;
}

@media only screen and (max-width: 992px) {
  #projectCards {
    flex-direction: column;
  }
  .projectCard {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }  
  #name {
    font-size: 2rem;
  }
  img {
    display: none;
    }
    #contact {
      margin-top: 150px;
    }
}